target/classes/sample-proc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="sample-proc-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8091" />
    </http:listener-config>
    <apikit:config name="sample-proc-api-config" api="sample-proc-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="4c064b1f-84ba-4612-ac43-29402562211d" >
		<http:request-connection host="localhost" port="8092" />
	</http:request-config>
	<flow name="sample-proc-api-main">
        <http:listener config-ref="sample-proc-api-httpListenerConfig" path="/sample-proc-api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sample-proc-api-config" />
    </flow>
    <flow name="post:\patient:application\json:sample-proc-api-config">
        <ee:transform doc:name="Transform Message" doc:id="7a80bcc3-5c09-426a-a0d2-194f974c0edb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "first_Name": payload.firstName,
  "last_Name": payload.lastName,
  "DOB": payload.DOB,
  "gender": payload.gender,
  "emailId":payload.emailId,
  "country": payload.country,
  "language": payload.language,
  "emailnotifications": true
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="headers" ><![CDATA[%dw 2.0
output application/json
---
{
	"client-id": attributes.headers."client-id",
	"client_secret": attributes.headers."client_secret"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="69a54664-4a7a-4015-87c8-b7e1dad61007" config-ref="HTTP_Request_configuration" path="/sample-sys-api/patient" responseTimeout="100000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client-id" : vars.headers."client-id",
	"client_secret" : vars.headers."client_secret"
}]]]></http:headers>
		</http:request>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "patient profile created successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
